h1, h2 {
    text-align: center;
  font-family: 'Homemade Apple', cursive;
}

p {
  font-family: 'Glegoo', serif;
  text-align: center;
}

.submit {
border-radius: 8px;
}

#userInput {
  text-align: center;
}


body {
    background-image: url("../images/shoppinglist.jpg");
    background-size: cover;
    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    width: 940px;
}

@media only screen and (max-width: 500px) {
    .masthead-heading {
        font-size: 3em;
    }
}